<div class="window-container">
    <ng-container *ngFor="let window of windowManager.windows">
      <app-window-frame [delegate]="window" style="position: absolute;"
                        [style.left.px]="window.position.maximized ? 0 : window.position.x"
                        [style.top.px]="window.position.maximized ? 0 : window.position.y"
                        [style.z-index]="window.position.zIndex"
                        [@windowAnimation]="window.position.minimized? 'minimized' : 'open'">
          <ng-container [ngComponentOutlet]="window.type"></ng-container>
        </app-window-frame>
    </ng-container>
</div>
